#Header .container {display:flex;width:1200px;margin:0 auto;padding:0 15px;line-height:100px;}
#Header h1 img {width:140px;height:100;}
#Header nav {margin-left:auto;padding:0 30px 0 0;}
#Header nav>ul {display:flex;}
#Header nav>ul>li {padding:0 15px;position:relative;}
#Header nav>ul>li:after {content:"";display:block;width:1px;height:12px;background:#666;position:absolute;top:50%;right:0;transform:translateY(-50%);}
#Header nav>ul>li:last-child:after {display:none;}


#content01 {padding:100px 0;text-align:center;}
#content01 h2 {font-size:24px;font-weight:700;}
#content01 h2:after {content:"";display:block;width:30px;height:2px;background:#ddd;margin:10px auto;}
#content01 p {font-size:14px;font-weight:300;margin-bottom:30px;}
#content01 .container {display:flex;width:1200px;margin:0 auto;}
#content01 .container figure {flex:1;padding:0 15px;}
#content01 .container figure img {width:100%;}

#content02 {padding:100px 0;background:url(../img/m06.jpg);background-attachment:fixed;text-align:center;color:#fff;}
#content02 h2 {font-size:34px;font-weight:700;}
#content02 p {padding:20px;font-size:14px;font-weight:300;}
#content02 .sns {padding:30px 0;}
#content02 .sns i {font-size:50px;background:rgba(0,0,0,0.5);padding:10px;border-radius:50%;}

#content03 {padding:100px 0;text-align:center;}
#content03 h2 {font-size:24px;font-weight:700;}
#content03 h2:before {content:"";display:inline-block;width:100px;height:1px;background:#ddd;vertical-align:middle;transform:translateX(-50px)}
#content03 h2:after {content:"";display:inline-block;width:100px;height:1px;background:#ddd;vertical-align:middle;transform:translateX(50px)}
#content03 p {padding:15px;font-size:18;font-weight:300;margin-bottom:30px;}

#content03 .container {display:flex;width:1200px;margin:0 auto;}
#content03 .container figure {flex:1;padding:0 15px;}
#content03 .container figure img {width:100%;}

#content04 {padding:100 0;text-align:center;}
#content04 h2 {font-size:24px;font-weight:700;}
#content04 h2:after {content:"";display:block;width:30px;height:2px;background:#ddd;margin:10px auto;}
#content04 p {padding:15px;font-size:18px;font-weight:300;margin-bottom:30px;}


#content04 .container {display:flex;width:1200px;margin:0 auto;}
#content04 .container figure {flex:1;padding:0 15px;}
#content04 .container figure img {width:100%;}
#content04 figure img{border-radius:50%;overflow:hidden;}

#content05 {padding:100px 0;text-align:center;}
#content05 h2 {padding:50px;font-size:24px;font-weight:700;}
#content05 p {padding:15px;font-size:20px;}

.container {display:flex;width:1200px;margin:0 auto;}
.container figure {padding:20px 20px;}
.container figure img {width:100%;border-radius:50%;}


#Footer {background:#999;color:#666;}
.top {border-bottom:1px solid #666;}

.container {display:flex;width:1200px;margin:0 auto;}

.info {display:flex;padding:0 15px;color:#333;}
.info li {line-height:70px;padding:0 15px 0 0;position:relative;}
.info li.blod {font-weight:700;}

.sns {border-top:1px solid #666;margin:0 auto;padding:0 15px;line-height:70px;}
.sns i {font-size:20px;color:#fff;}

.place {padding:20px 0;background:#333;}
.place .container>div {padding:0 15px;}

.copy {padding:20px 0;background:#333;}
.copy .container>div {padding:0 15px;}
















