/*웹폰트*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*웹아이콘*/
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body {font-family: 'Noto Sans KR', sans-serif;color:#333;line-height:1;}


* {margin:0;padding:0;font-size:inherit;font-weight:inherit;box-sizing:border-box;}
ul,li,ol {list-style:none;}
a {text-decoration:none;color:inherit;}
em {font-style:inherit;}


img {vertical-align:middle;}